



  .navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
    z-index: 1000;
  }
  
  .navbar-header {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s ease;
  }
  
  .menu-icon:hover {
    color: #4caf50;
  }
  
  .logout-icon-container {
    margin-right: 10px;
  }
  
  .logout-icon {
    cursor: pointer;
    font-size: 30px;
    transition: red 0.3s ease;
  }
  
  .logout-icon:hover {
    color: #f00;
  }
  
  .sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    color: white;
    padding-top: 50px;
    transition: left 0.3s ease;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 15px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar li:hover {
    background-color: #444;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .sidebar a:hover {
    color: #4caf50;
  }
  
