/* TaskCategoryDropdown.css */

.task-category-dropdown {
  margin-top: 30px;
  max-width: 400px;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  margin-bottom: 30px;
}

.open {
  max-height: 1000px;
}

.dropdown-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #4caf50;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
}

.dropdown-header:hover {
  background-color: #45a049;
}
